{% extends 'admin/base.html.twig' %}

{% block title %}Recordar contraseña{% endblock %}

{% block body %}

    <div class="bg-white pulldown">
        <div class="content content-boxed overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="push-30-t push-20 animated fadeIn">
                        <div class="text-center">
                            <i class="fa fa-2x fa-circle-o-notch text-primary"></i>
                            <p class="text-muted push-15-t">No te preocupes, te enviaremos un enlace para resetear tu contraseña.</p>
                        </div>

                        {{ form_start(form, {
                            'attr': {'class': 'form-horizontal push-30-t'}
                        }) }}

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating{% if form.email.vars.errors is not empty %} has-error{% endif %}">
                                        {{ form_widget(form.email, {'attr': {'placeholder': 'Introduce tu email' }}) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                    <button class="btn btn-sm btn-block btn-primary" type="submit">Resetear Contraseña</button>
                                </div>
                            </div>

                        {{ form_end(form) }}

                        <div class="text-center push-50-t">
                            <a href="{{ path('admin_security_login') }}">Acceder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pulldown push-30-t text-center animated fadeInUp">
        <small class="text-muted"><span class="js-year-copy"></span> &copy; {{ app_name }}</small>
    </div>

{% endblock %}