{% extends 'admin/base.html.twig' %}

{% set entity_name = 'Departamento' %}
{% set route_prefix = 'admin_departamento' %}
{% set action = 'list' %}
{% set actions = {'create': true, 'filter': true} %}

{% block title %}{{ entity_name }}{% endblock %}

{% block page_header %}
    {% embed 'admin/layout/crud/_page_header.html.twig' %}
        {% block page_heading %}{{ entity_name }}{% endblock %}
        {% block breadcrumb %}
            {{ include('admin/layout/crud/_breadcrumb.html.twig') }}
        {% endblock breadcrumb %}
    {% endembed %}
{% endblock page_header %}

{% block page_content_nav %}
    {{ include('admin/layout/crud/_page_content_navbar.html.twig') }}
    {{ include('admin/layout/form/_filters_form.html.twig', {
        'filter_form': filter_form,
        'clear_path': path('admin_departamento_index'),
    })}}
{% endblock page_content_nav %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            {% embed 'admin/layout/crud/_block.html.twig' %}

                {% block block_header_title %}{{ entity_name }}{% endblock %}

                {% block block_content %}
                    {% if pagination.items is not empty %}
                        {% set pagination_direction = pagination.getDirection() ? pagination.getDirection() : 'asc' %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 100px;">Actions</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('d.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'ID', 'd.id') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('d.nombre') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Nombre', 'd.nombre') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('d.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Created', 'd.created') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('d.updated') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Updated', 'd.updated') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for departamento in pagination %}
                                <tr>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar" href="{{ path('admin_departamento_edit', {'id': departamento.id}) }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" href="{{ path('admin_departamento_delete', {'id': departamento.id}) }}"><i class="fa fa-close text-danger"></i></a>
                                        </div>
                                    </td>
                                    <td><a href="{{ path('admin_departamento_show', {'id': departamento.id}) }}">{{ departamento.id }}</a></td>
                                    <td>{{ departamento.nombre }}</td>
                                    <td>{{ departamento.created | date('d-m-Y H:i:s') }}</td>
                                    <td>{{ departamento.updated | date('d-m-Y H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    {% else %}
                        <p>
                            The list is empty.
                        </p>
                    {% endif %}
                {% endblock %}

                {% block block_footer_pagination %}
                    {{ knp_pagination_render(pagination) }}
                {% endblock %}

            {% endembed %}
        </div>
    </div>
{% endblock %}
