{% extends 'admin/base.html.twig' %}

{% set entity_name = 'User' %}
{% set route_prefix = 'admin_user' %}
{% set action = 'list' %}
{% set actions = {'create': true, 'filter': true} %}

{% block title %}{{ entity_name }}{% endblock %}

{% block page_header %}
    {% embed 'admin/layout/crud/_page_header.html.twig' %}
        {% block page_heading %}{{ entity_name }}{% endblock %}
        {% block breadcrumb %}
            {{ include('admin/layout/crud/_breadcrumb.html.twig') }}
        {% endblock breadcrumb %}
    {% endembed %}
{% endblock page_header %}

{% block page_content_nav %}
    {{ include('admin/layout/crud/_page_content_navbar.html.twig') }}
    {{ include('admin/layout/form/_filters_form.html.twig', {
        'filter_form': filter_form,
        'clear_path': path('admin_user_index'),
    })}}
{% endblock page_content_nav %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            {% embed 'admin/layout/crud/_block.html.twig' %}

                {% block block_header_title %}{{ entity_name }}{% endblock %}

                {% block block_content %}
                    {% if pagination.items is not empty %}
                        {% set pagination_direction = pagination.getDirection() ? pagination.getDirection() : 'asc' %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 100px;">Actions</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.username') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Username', 'u.username') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Name', 'u.name') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.surname') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Surname', 'u.surname') }}</th>
                                <th>Roles</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Created', 'u.created') }}</th>
                                <th class="list-order-{{ pagination_direction }} {% if pagination.isSorted('u.updated') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Updated', 'u.updated') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in pagination %}
                                <tr>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar" href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" href="{{ path('admin_user_delete', {'id': user.id}) }}"><i class="fa fa-close text-danger"></i></a>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a class="btn btn-xs btn-default" data-toggle="tooltip" title="Simulate sesion" href="{{ path('admin_user_switch_to', {'id': user.id}) }}"><i class="fa fa-user-secret"></i></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td><a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.id }}</a></td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.roles|join(', ') }}</td>
                                    <td>{{ user.created | date('d-m-Y H:i:s') }}</td>
                                    <td>{{ user.updated | date('d-m-Y H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    {% else %}
                        <p>
                            The list is empty.
                        </p>
                    {% endif %}
                {% endblock %}

                {% block block_footer_pagination %}
                    {{ knp_pagination_render(pagination) }}
                {% endblock %}

            {% endembed %}
        </div>
    </div>
{% endblock %}
